name: Build android

on:
  push:
    # branches:
    #   - main
    #   - dev
    tags:
      - 'v*.*.*'

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Run Tests
        run: bash ./gradlew test --stacktrace  
  apk:
    name: Generate APK
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Build APK
        run: bash ./gradlew assembleDebug --stacktrace
      - name: Generate SHA256 checksums
        run: |
          sha256sum app/build/outputs/apk/debug/app-debug.apk >> OmniEdge-Android-${{ github.ref_name }}.SHA256.txt
          cat OmniEdge-Android-${{ github.ref_name }}.SHA256.txt
          pwd
      - name: Upload APK
        uses: actions/upload-artifact@v1
        with:
          name: apk
          path: app/build/outputs/apk/debug/app-debug.apk
      - name: Upload SHA256
        uses: actions/upload-artifact@v1
        with:
          name: SHA256
          path: OmniEdge-Android-${{ github.ref_name }}.SHA256.txt
          
  release:
    name: Release APK
    needs: apk
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Download APK from build
        uses: actions/download-artifact@v1
        with:
          name: apk
      - name: Download SHA256 from build
        uses: actions/download-artifact@v1
        with:
          name: SHA256
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        with:
          tag_name: ${{ github.ref }}
          release_name: OmniEdge-Android-${{ github.ref }} 
        
      - name: Upload Release APK
        id: upload_release_asset
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: apk/app-debug.apk
          asset_name: OmniEdge-Android-${{ github.ref_name }}.apk
          asset_content_type: application/zip
          
      - name: Upload Release SHA256
        id: upload_release_SHA256
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: SHA256/OmniEdge-Android-${{ github.ref_name }}.SHA256.txt
          asset_name: OmniEdge-Android-${{ github.ref_name }}.SHA256.txt
          asset_content_type: application/txt

      - name: Notify web-frontend to update docs
        uses: peter-evans/repository-dispatch@v2
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: omniedgeio/omniedge-web-frontend
          event-type: android-release
          client-payload: '{"package": "android", "version": "${{ github.ref_name }}"}'
